body {
  padding-top: 80px;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.info-item {
  margin-right: 20px;
  text-align: center;
}

.bold-text {
  text-align: center;
}

.img {
  width: 100%;
  height: 310px;
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  width: calc((100% - 4 * 15px) / 4);
  margin: 0 10px 10px 0;
  box-shadow: 2px 2px 2px #ccc;
}

.search-form {
  justify-content: center;
  display: flex;
  background-color: pink;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  border-bottom: 2px;
  border-color: #ccc;
  top: 0;
  left: 0;
}

.input-form {
  padding: 10px;
  margin-right: 10px;
}

.btn-form,
.load-more {
  cursor: pointer;
  border-radius: 4px;
  border-color: #ccc;
  background-color: skyblue;
  color: white;
}
.load-more {
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.3;
  margin-top: 20px;
}

.link {
  color: #000;
  text-decoration: none;
}

.btn-under {
  text-align: center;
}
